// Variables
$Off-white: hsl(36, 100%, 99%);
$Grayish-blue: hsl(233, 8%, 79%);
$Dark-grayish-blue: hsl(236, 13%, 42%);
$Very-dark-blue: hsl(240, 100%, 5%);
$Soft-orange: hsl(35, 77%, 62%);
$Soft-red: hsl(5, 85%, 63%);
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:100%;
    max-width: 1440px;
    margin: 0 auto;
    margin-top: 50px;
    button{
        all: unset;
        cursor: pointer;
        
    }
    .showMenuBar{
        display: none;
    }

    nav{
        .showCloseBtn{
            display: none;
        }
      
        ul{
            display: flex;
            gap: 20px;
            list-style: none;
            li{
                a{
                    color: $Dark-grayish-blue;
                    text-decoration: none;
                    &:hover{
                        color: $Soft-red;
                    }
                }

            }
        }
    }
}
@media screen and (max-width: 768px) {
    body.active{
        z-index: 999;
        background-color: rgba(0,0,0,0.3);
        width: 100vw;
        height: 100vh;
        margin: 0;
        padding: 0;
    }

   header{
    width: 90%;
    position: relative;
    .showMenuBar{
        display: block;
    }
    nav{
        position: relative;
        background-color: white;
        position: fixed;
        top: 0;
        left: 30%;
        transform: translateX(100%);
        height: 100vh;
        transition: 300ms ease-in-out;
        .showCloseBtn{
            display: flex;
            justify-content: flex-end;
            position: absolute;
            right:40%;
            font-size: 20px;
            top: 50px;
            transition: 150ms ease-in-out;

            &:hover{
                transform: scale(1.1);
            }
        }
        ul{
            display: flex;
            flex-direction: column;
            text-align: start;
            height: 100vh;
            width: 100vw;
            padding: 20px;
            margin-top: 30%;


            li{
                a{
                    font-weight: 600;
                    color: $Very-dark-blue;
                    font-size: 20px;
                }
            }
        }
    }
    .show-menu{
        display: block;
        transform: translateX(0);
    }
   }
}